

div#header{
    background-color: #B05F6D;
}

/* TOP MOST NAVIGATION */

div#header div.outside-navigation {
    background-color: #462446;
    width: 100%;
    height: 30px;
    box-shadow: -1px 2px 5px rgba(0,0,0,0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
div.outside-container {
    display: flex;
    align-items: center;
    font-size: 13px;
    margin-left: 50px;
}

div.outside-info {
    display: flex;
    align-items: center;
    color: #fff;
    margin-right: 10px;
}
div.outside-info .fa {
    font-size: 20px;
    margin-right: 5px;
}
div.outside-info .fa-envelope {
    font-size: 15px;
}
div.outside-info p {
    margin: 0;  
}

i.icon {
    color: #fff;
    margin-right: 5px;
}

div.out-nav-linkA,
div.out-nav-linkB {
    display: flex;
    font-size: 14px;
}

div.out-nav-linkA {
    margin-right: 50px;
}

span.divider {
    color: #fff;
}
a.navigate-item-inside {
    color : #fff;
    text-decoration: none;
    font-family:"Segoe UI";
    margin: 0 10px;
    padding-bottom : 5px;    
    border-bottom: 2px solid transparent;
    transition: all .5s;

}
a.navigate-item-inside:hover {
    border-bottom: 2px solid #fff;
}

div.sub-header{
    display: flex;
    font-size: 15px;
    position: absolute;
    right: 3%;
    top: 40%;
    font-size: 14px;
}

a.res-url {
    color: #333;
    text-decoration: none;
}
a.about-link {
    color: #fff;
    text-decoration: none;
}

@media all and (min-width:321px) and (max-width:1024px){
    div.outside-container {
        display: none;
    }
}

@media all and (max-width:320px) {
    div.outside-container {
        display: none;
    }
}