div#who-we-are,
div#followus,
div#signup-benefits {
    height: 100vh;
    padding-top: 100px;
}


/*  WHO WE ARE */

div#who-we-are {
    background-color: #f9fdff;
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;    
}

div.wwr-firstContent,
div.wwr-secondContent {
    width: 500px;
    font-weight: 600;
}

div#who-we-are .wwr-title {
    font-size: 25px;
    font-weight: 600;
}


div#signup-benefits {
    display: flex;    
    align-items: center;
    flex-direction: column;
}


/*  MISSION VISION */
div#followus {
    position: relative;
}
div.architecture-bg {
    
    height: 100%;
    background: url(img/architecture.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-attachment: fixed;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
div#followuscontainer {
    z-index: 2;
    position: relative;
}

/*  SIGNUP BENEFITS */

div#signup-benefits {
    background-color: #f9fdff;
}

div#signup-benefits li{
    font-weight: 600;  
}
div#signup-benefits .sb-title {
    font-size: 25px;
    font-weight: 600;
}

/* FAST START REGISTRATION */
div.faststart-registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #3f454a;
    color: #fff;
    padding: 100px 0 30px 0;
}
p.fsr-title {
    font-size: 25px;
    font-weight: 600;
}
div.faststart-registration ul {
    width: 55%;
}

div.faststart-registration li {
    position: relative;
}
div.faststart-registration li div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
div.faststart-registration li div p {
    margin: 0;
}
div.faststart-registration li div p:first-child {
    font-weight: 600;
    margin-right: 10px;
}