div#who-we-are,
div#followus,
div#signup-benefits {
    height: 100vh;
    padding-top: 100px;
}


/*  WHO WE ARE */

div#who-we-are {
    background-color: #EB6B56;
    display: flex;
    flex-direction : column;
    align-items : center;
    justify-content: flex-start;    
}

div.wwr-firstContent,
div.wwr-secondContent {
    
    max-width: 500px;
    font-weight: 600;
}

div#who-we-are .wwr-title {
    font-size: 25px;
    font-weight: 600;
}


div#signup-benefits {
    display: flex;    
    align-items: center;
    flex-direction: column;
}

div.wwr-cont { 
    display: flex;
}

img.wwr {
    width: 80%;
    margin: 10px;
    height: 80%;   
    padding: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

/*  MISSION VISION */
div#followus {
    position: relative;
}
div.architecture-bg {
    
    height: 100%;
    background: url(img/architecture.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-attachment: fixed;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}
div#followuscontainer {
    z-index: 2;
    position: relative;
}

/*  SIGNUP BENEFITS */

div#signup-benefits {
    background-color: #E2D6BE;
}

div#signup-benefits .sb-parent-cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#signup-benefits .sb-parent-info {
    width: 50%;
    display: flex;
    height: 300px;
    justify-content: flex-end;
}

div#signup-benefits ul {
    width: 500px;
}

div#signup-benefits li{
    font-weight: 600;  
}
div#signup-benefits .sb-title {
    font-size: 25px;
    font-weight: 600;
}

div.img-container {
    width: 50%;
    display: flex;
    height: 50%;
    align-items: center;
    justify-content: center;
}
img.signup-benefits {
    width: 80%;
    margin: 10px;
    height: 80%;   
    padding: 10px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.4);
}

/* FAST START REGISTRATION */
div.faststart-registration {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EB6B56;
    color: #fff;
    padding: 100px 0 30px 0;
}
p.fsr-title {
    font-size: 25px;
    font-weight: 600;
}
div.faststart-registration ul {
    width: 55%;
}

div.faststart-registration li {
    position: relative;
}
div.faststart-registration li div {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}
div.faststart-registration li div p {
    margin: 0;
}
div.faststart-registration li div p:first-child {
    font-weight: 600;
    margin-right: 10px;
}

/* FORGOT PASSWORD */
div#forgotcontainer {
    height: 100vh;
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
div#forgotmsgwrap {
    width: 400px;
    margin: 150px auto auto auto;
}
div#forgotbanner {
    width: 400px;
    background-color: transparent;
}
div#forgotmargin {
    height: 100%;
    width: 100%;
    padding: 20px;
}

label.forgotcredentials {
    font-family: "Segoe UI"; 
    font-size: 18px;
    font-weight: 100;
    text-align: center;
    display: inline-block;
    height: 40px;
    width: calc(100% - 40px);
    margin-top: 30px;
}
div.submit-cont {
    display: flex;
    width: calc(100% - 40px);
    align-items: center;
    justify-content: center;
}
#forgotbtn {
    background-color: #074f8e;
    outline: none;
    border: none;
    color: white;
    width: 100%;
    margin-top: 15px;
    height: 30px;
    border-radius: 5px;
}
#forgotbtn:hover {
    background-color: #2779c0;
    cursor: pointer;
}


/* last panel  */
#img-achievement {
    height : 100vh;
    background : url(img/achievements.png);
    width:  100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}



@media all and (min-width:321px) and (max-width:1024px) { 
    div.wwr-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div#who-we-are {
        padding-top: 0px;
    }
    div.wwr-firstContent {
        padding: 0 10px;
        max-width: 500px;
    }

    div.wwr-secondContent {
        padding: 0 10px;
    }

    div#followus {
        height: 100%;
        padding: 40px 0;
    }

    div#followuscontainer {
        width: 95%;
    }

    div#missionwrap {
        margin-top: 0;
        margin-bottom: 20px;
        padding: 0;
        width: 100%;
    }

    div#signup-benefits {
        padding: 20px 0;
        width: 100%;        
    }
    div.sb-parent-cont {
        width: 100%;
        padding: 0 10px;

    }

    div#signup-benefits .sb-parent-cont {
        flex-direction: column-reverse;
    }

    div#signup-benefits .sb-parent-info {
        height:  auto;
        width: 100%;
        justify-content: center;
    }

    /* fast start */
    div.faststart-registration {
        width: 100%;
    }
    div.faststart-registration ul {
        width: 80%;        
    }
    div.faststart-registration li {
        width: 100%;
        white-space: pre-wrap;
        margin: 10px 0;
    }

    div#contactuscon {
        height: 100%;
    }
}
@media (max-width: 425px) {

    div.faststart-registration li div p:first-child {
        width: 150px;
    }
    div.faststart-registration li div p {
        width: 195px;
    }

    div#forgotmsgwrap {
        width: initial;
    }
    div#forgotbanner {
        width: initial;
    }

    div.faststart-registration ul {
        padding-left: 10px;
        width: 100%;
    }
}

@media all and (max-width:320px) {

    div#who-we-are {
        padding-top: 0;
        height: initial;
    }
    div.wwr-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    div.wwr-cont div.img-container {
        width: 80%;
        
        display: block;
    }
    div.img-container img {
        width: 100%;
        margin: 0;
        height: 100%;
        padding: 0;
    }

    div.wwr-firstContent p {
        padding: 0 10px;
    }
    div.wwr-secondContent p {
        padding: 0 10px;
    }

    div#followus {
        height: 125%;
        padding-top: 0;
    }
    div#followuscontainer {
        width: 100%;
    }
    div#missionwrap {
        padding: 0 10px;
    }

    div#signup-benefits {
        padding-top: 0;
        height:  initial;
    }

    div#signup-benefits .sb-parent-cont {
        flex-direction: column-reverse;
    }

    div#signup-benefits .sb-parent-info {
        height:  initial;
    }
    div.faststart-registration {
        padding-top: 0;
    }
    div.faststart-registration > p {
        text-align:  center;
    }
    div.faststart-registration li {
        width: 100%;
        white-space: pre-wrap;
        margin: 10px 0;
    }
    div.faststart-registration ul {
        padding-left : 10px;
        width: initial;
    }

    div.faststart-registration li div p:first-child {
        text-overflow: ellipsis;
        overflow: hidden;
        width: 100px;
    }

    div.faststart-registration li div p{
        width: 195px;
    }

}